.headerbody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
input{
    border: 0px;
    border-radius: 6px;
    background-color: white;
    height: 34px;
    border-radius: 6px;
    

}
button{
    border-radius: 6px;
    padding: 4px;
    width: 68px;
    background-color: white;
    margin-left: 6px;
    margin-right: 6px;
    color: black;
    height: 34px;
}
#filter{
    width: 64px;
    border: 2px solid black;
    background-color: white;
    height: 30px;
    border-radius: 6px;

}
.header-sub-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header-sub-container>button{
    margin: 10px;
}

.headercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 2px;
    padding-left: 10px;
    padding-left: 10px;
}
.usercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 14px;
    color: rgb(52, 49, 49);
}
.headerimage{
    background-color: lightgrey;
    padding: 2px;
    border-radius: 150px;
    border: 1px solid lightgrey;
    font-size: 32px;
}
h3{
    color: grey;
    font-size: 28px;
}
.searchdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid grey;
    width: 30vw;
    background-color: white;
    border-radius: 10px;
}
.searchBar{
    width: 27vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid grey;


}
.imgh{
    background-color: whitesmoke;
    padding: 8px;
    height: 42px;
    margin-right: 4px;
    border-radius: 60px;
    border: 5px solid lightblue;
}