.mainContainer{
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
}


.bodycontainer{
    width: 84vw;
    background-color: whitesmoke;
    height: 100vh;
}
.header{
    background-color: whitesmoke;
   
}
.contentbody{
    background-color: whitesmoke;
    border: 0px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    width: 83vw;
   
    
}
table{
    width: 82vw;
}
table, th{
    border: 1px solid;
    border-collapse: collapse;
    width: 82vw;
    background-color: rgb(108, 169, 234);
    height: 24px;
    margin: 4px;
    
  }
.aside{
    height: 100vh;
}