.mainContainer{
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
}


.bodycontainer{
    width: 84vw;
    background-color: whitesmoke;
    height: 100vh;
}
.header{
    background-color: whitesmoke;
   
}
.contentbody{
    background-color: whitesmoke;
    border: 0px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    width: 83vw;
   
    
}
table{
    width: 82vw;
}
table, th{
    border: 1px solid;
    border-collapse: collapse;
    width: 82vw;
    background-color: rgb(108, 169, 234);
    height: 24px;
    margin: 4px;
    
  }
.aside{
    height: 100vh;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 24px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    background-color: rgb(224, 245, 245);
    padding: 4px;
    border-radius: 10px;
}
.pagination > span{
    background-color: rgb(76, 120, 181);
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    margin-right: 24px;
    margin-left: 24px;
    color: white;
}