#popupCard{
    width: 40vw;
    height: 50vh;
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: white;
    border: 6px solid lightgrey;
    color: rgb(26, 128, 162);
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    opacity: 2;
}
.icon{
    background-color: rgb(170, 210, 231);
    border-radius: 70px;
    height: 60px;
    padding: 8px;
}
h3{
    color: black;
}
.cancelbtn{
    width: 120px;
    color: white;
    height: 34px;
}
.iconSucc{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(162, 231, 125);
    width: 80px;
    border-radius: 100px;
    padding: 8px;
}